<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
</head>
<body>
    <h1 align="center">All products in store!</h1>
    <table border="1" width="50%" align="center">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Price</td>
        </tr>
        {{#each products}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/delete?id={{id}}" onclick="return confirm('Are you sure to delete {{name}}?')">{{name}}</a></td>
            <td>{{price}}</td>
        </tr>
        {{/each}}
    </table>
    <br>
    <div align="center"><button align="center"><a href="/">Back to Home</a></button></div>
</body>
</html>